

table thead{
    background-color: #333333;
}
    thead tr{
        color: #fff;
        
    }

    tbody tr{
        color: rgba(0, 0, 0, .7);
    }

    tbody tr .table-actions a, .table-actions button{
        color: #F480BD;
        float: left;
        /* font-weight: 600; */
        /* margin-right: 20px; */
    }

        .table-actions .edit-row{
            margin-right: 20px;
        }
        .table-actions span{
            margin-left: 5px;
            font-weight: 500;
        }

        .table-actions button{
            border: none;
            outline: none;
            background-color: inherit;
        }

    .table-actions a:hover, .table-actions button:hover{
        color: rgba(0, 0, 0, .7);
    }

    tbody tr:hover{
        background-color: rgba(0, 0, 0, .04);
        cursor: pointer;
    }