{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventsoft - Notificaciones</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/notifications.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Sarabun:200,300,400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
</body>

<script src="{% static 'js/design_patterns/factoryUserView.js' %}"></script>
<script src="{% static 'js/design_patterns/singletonUser.js' %}"></script>
<script src="{% static 'js/templates/nav.js' %}"></script>
<script src="{% static 'js/templates/notifications.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/styleFunctions.js' %}"></script>

<script>
    (async function(){

    // ------------------------------------------------
        // get user
        const user = await getSingleton();
        
    // ------------------------------------------------
        // Get nav specific options for that user type
        document.body.innerHTML += ViewNav(user);

    // ------------------------------------------------
        // Show notitification count in nav-bar
        showNotificationCount();
        addNotification();

    // ------------------------------------------------
        // Get notification template
        const notif =  await getNotiData('http://127.0.0.1:8000/fetch_notifications/');
        document.body.innerHTML += ViewNotifications(notif.notifications);

    })();

</script>

</html>